body {
    margin: 0 auto;
    background-color: gray;
    text-align: center;
}
h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    background-color: gray;
    line-height: 3rem;
    font-size: 1.25rem;
    text-decoration: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    margin: 0 auto;
}