body {
    margin: 50px;
    font-family: "Lucida Console", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
    color:rgb(117, 242, 132);
    background-color: rgb(0, 0, 0);
    text-align: center;
}

main {
    padding: 50px;
    border: 1px solid rgb(117, 242, 132);
    width: 80%;
    margin: 0 auto;
    text-align: left;
    line-height: 2rem;
}

strong {
    font-weight: 900;
}

i {
    font-style: italic;
}

a:link, a:visited, a:hover, a:active {
    color:rgb(190, 230, 195);
    font-weight: 700;
}